.doc-view {
    width: 7rem;
    margin: auto;
    padding-bottom: 20px;
}

.doc-view>header {
    font-size: .3rem;
    padding: .3rem 0 .2rem 0;
}

.doc-view>h1 {
    font-size: .18rem;
    line-height: 2em;
    margin-top: .2rem;
}


.doc-view>h1::before {
    content: "#";
    color: #2396b9;
    margin-right: .05rem;
}


.doc-view>h2 {
    font-size: .16rem;
    border-bottom: 1px solid gray;
    padding: .1rem 0;
    margin-top: .3rem;
    font-weight: 800;
    color: red;
}

.doc-view>h3 {
    font-size: .16rem;
    line-height: 2em;
    margin-top: .2rem;
}

.doc-view>h4 {
    font-size: .15rem;
    line-height: 2em;
    margin-top: .2rem;
    padding-left: 1em;
    color: #060606;
}

.doc-view .define {
    text-indent: 0;
    padding: 10px;
    font-weight: 800;
    color: #ec3900;
    font-size: 12px;
}

.doc-view .eg::before {
    content: "eg:";
    color: rgb(255, 0, 0);
    font-weight: 800;
    position: absolute;
    left: -30px;
}

.doc-view .eg {
    font-weight: 200;
    margin-left: 50px;
    position: relative;
    text-indent: 0;
    font-size: 12px;
}

.doc-view>p {
    line-height: 1.6em;
    text-indent: 2em;
    color: rgb(60, 57, 57);
    font-weight: 400;
    font-size: .14rem;
    margin: .1rem 0;
}

.doc-view .important {
    color: red;
    font-weight: 800;
    padding: 0 2px;
}

.doc-view>div {
    position: relative;
}

.doc-view>div>pre {
    font-family: cursive;
    font-weight: 400;
    font-size: 0.14rem;
    padding: .15rem .2rem;
    line-height: 1.6em;
}


.doc-view>ul {
    margin-left: .2rem;
}

.doc-view>ul li {
    line-height: 2em;
    font-size: .13rem;
    color: #000000;
}
